<h2>Categories</h2>
<div class="text-right">
  <%= link_to 'New Category', new_backend_category_path, class: 'btn btn-primary' %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>image</th>
      <th>Name</th>
      <th>Position</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <th scope="row"><%= category.id %></th>
        <td><%= image_tag category.image_url, style: 'width: 50px;' if category.image? %></td>
        <td><%= category.title %></td>
        <td><%= category.position %></td>
        <td>
          <%= link_to "Show", backend_category_path(category), class: 'btn btn-info' %>
          <%= link_to "Edit", edit_backend_category_path(category), class: 'btn btn-primary' %>
          <%= link_to "Delete", backend_category_path(category), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>